:root{
    --fonte-titulo: font-family: "DM Serif Text", serif;
    --fonte-geral: font-family: "Noto Sans", serif;
    --cornav: #505050;
    --coratencao:#00b960ee; 
    --cortitulo: #3651EB;
    --corfundo: #3651eb52;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: var(--cornav);
    color: white;
    padding: 8px;
    font-family: var(--fonte-geral);
    text-align: center;
    border-radius: 5px;
}

nav>a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav>a:hover{
    text-decoration: solid;
    background-color: var(--coratencao);
    transition-duration: 0.6s;
}